.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.colorContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  :global(.bx--multi-select__wrapper) {
    width: 100%;
  }
  :global(.bx--fieldset) {
    margin-bottom: 0;
  }
  $_color-blob-size: 10px;
  > div:first-child {
    position: absolute;
    display: flex;
    align-items: center;
    width: 104%;
    right: -2%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    top: 3px;
    border-radius: 3px;

    // CUBE VERSION
    // height: $_color-blob-size;
    // left: -30px;
    // bottom: 5px;
    // opacity: 0;
    // border-radius: 100%;
    // user-select: none;
    // &:hover {
    // }
  }
}

// text output
.output {
  display: inline-block;
  font-size: 30px;
  max-width: 500px;
}

.cuesString {
  font-size: 24px;
  line-height: 50px;
  span {
    display: inline;
    padding: 6px;
    border-radius: 2px;
    margin-right: 4px;
    &.autoHeight {
      height: auto;
    }
  }
}

.disableColorization {
  div,
  span {
    transition: background 200ms ease;
    background: none !important;
  }
}

.left,
.right {
  width: 50%;
}
.left {
  padding: 2rem;
  padding-left: 4rem;
  h2 {
    margin-bottom: 2rem;
  }
}

.right {
  position: fixed;
  right: 0;
  padding: 2rem;
  h2 {
    margin-bottom: 2rem;
  }
}

.copied {
  z-index: 1;
  position: absolute;
  right: 40%;
  top: 5px;
  height: 30px;
  width: 80px;
  text-align: center;
  background: white;
  color: rgb(22, 22, 22) !important;
  padding: 2px;
  padding-top: 8px;
  border-radius: 6px;
  margin-left: 3px;
  font-weight: bold;
  border: 0;
  box-shadow: 0 2px 4px 2px rgb(209, 209, 209);
}
